body {
    font-family: Verdana, sans-serif;
    background-color: #36393e;
    color: #959899;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
    margin-bottom: 0px;
}

h4 {
    font-size: 16px;
    margin-bottom: 0px;
}

a {
    color: #5c7eb1;
}

nav {
    background-color: #2b2f37;
    padding: 10px;
}

button {
    background-color: #007bff;
    color: #1e2124;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 3px;
}

button:hover {
    background-color: #0151a7;
    box-shadow: #001933;
}

.command_info_wrapper {
    display: grid;
    align-self: center;
    align-items: center;
    align-content: center;
    align-tracks: center;
    justify-self: center;
    justify-items: center;
    justify-content: center;
    justify-tracks: center;
}

.command-info {
    background-color: #464747;
    margin: 10px;
    padding: 30px;
    border-radius: 30px;
}

.command_name_div {
    background-color: #3133358a;
    margin: 7px;
    padding: 4px;
    border-radius: 20px;
}

.command_data_div {
    background-color: #303233a8;
    margin: 6px;
    padding: 3px;
    border-radius: 10px;
}

.args_list_item {
    background-color: #212324c9;
    margin: 25px;
    padding: 1px;
    border-radius: 16px;
}

.mobileShow {display: none;}
@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px){ 
    .mobileShow {display: inline;}
}
.mobileHide { display: inline; }
@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px){
    .mobileHide { display: none;}
}

