body {
    font-family: Verdana, sans-serif;
    background-color: #36393e;
    color: #959899;
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(102deg, #12d511, #bd11d9, #aaff00);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

.css-selector {
    background: linear-gradient(102deg, #12d511, #bd11d9, #aaff00);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}
@keyframes AnimationName {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}

h1 {
    font-size: 22px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
    margin-bottom: 0px;
}

h4 {
    font-size: 16px;
    margin-bottom: 0px;
}

a {
    color: #5c7eb1;
}

nav {
    /*background-color: #2b2f3700;*/
    background-color: #ffffff00;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

input {
    background-color: #05d628a8;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 3px;
}

input:hover {
    background-color: #068f1ca8;
}

button {
    background-color: #00ff2aa8;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 3px;
}

button:hover {
    background-color: #0151a7;
    box-shadow: #000000;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.search1 {
    display: grid;
    align-self: center;
    align-items: center;
    align-content: center;
    align-tracks: center;
    justify-tracks: center;
    justify-self: center;
    justify-items: center;
    justify-content: center;
}

.search {
    position: static;
    display: grid;
    align-self: center;
    align-items: center;
    align-content: center;
    align-tracks: center;
    justify-tracks: center;
    justify-self: center;
    justify-items: center;
    justify-content: center;
}

.searchResultItem {
    cursor: pointer;
    padding: 5px;
    margin: 2px;
    /*background-color: #f0f0f0;*/
    border: 1px solid #08eeb5;
    border-radius: 3px;
    color: #741e8f;
}

/*
.searchResultItem:hover {
    background-color: #e0e0e0;
}
*/


.main_info {
    align-self: center;
    align-items: center;
    align-content: center;
    align-tracks: center;
    justify-tracks: center;
    justify-self: center;
    justify-items: center;
    justify-content: center;
    display: grid;
    max-width: 100%;
    margin-left: 17%;
    margin-right: 17%;
    padding: 3%;
    background-color: #46474770;
    border-radius:50px;
    background-image:url('main_div_background3.jpg');
    /*background-position:0%;*/
    background-repeat:no-repeat;
    background-repeat:round;
}

.main_name_div {
    background-color: #31333556;
    margin-top: 7px;
    padding: 7px;
    border-radius: 20px;
}

.main_info_description {
    max-width: 60%;
    border-radius:40px;
    background-color: #3032333f;
    margin-bottom: 4px;
    margin-right: 5px;
}

.feature_info_wrapper {
    display:grid;
    max-width: 70%;
    /*height:100%;*/
    margin: 15px;
    align-self: center;
    align-items: center;
    align-content: center;
    align-tracks: center;
    justify-tracks: center;
    justify-self: center;
    justify-items: center;
    justify-content: center;
}

.feature_info {
    position: relative;
    /*max-width: 50%;*/
    /*height: 50%;
    height: 90%;*/
    background-color: #4647476b;
    margin: 5px;
    padding: 8px;
    border-radius: 30px;
}

.feature_name_div {
    background-color: #3133358a;
    margin: 7px;
    padding: 4px;
    border-radius: 20px;
}

.feature_data_div {
    background-color: #303233a8;
    margin: 6px;
    padding: 3px;
    border-radius: 10px;
}

.command_info_wrapper {
    display: grid;
    align-self: center;
    align-items: center;
    align-content: center;
    align-tracks: center;
    justify-tracks: center;
    justify-self: center;
    justify-items: center;
    justify-content: center;
}

.command-info {
    position: relative;
    width: 90%;
    background-color: #4647476b;
    margin: 5px;
    padding: 20px;
    border-radius: 30px;
}

.command_name_div {
    background-color: #3133358a;
    margin: 7px;
    padding: 4px;
    border-radius: 20px;
}

.command_data_div {
    background-color: #303233a8;
    margin: 6px;
    padding: 3px;
    border-radius: 10px;
}

.args_list_item {
    background-color: #212324c9;
    margin: 25px;
    padding: 1px;
    border-radius: 16px;
}

.toggle-button {
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    border: none;
    cursor: pointer;
    background-color: #00ff2aa8;
    padding: 5px;
}
.toggle-button:hover {
    background-color: #06921d;
    box-shadow: #001933;
}

.toggle-button img {
    width: 20px;
    height: 20px;
}

.mobileShow {display: none;}
@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px){ 
    .mobileShow {display: inline;}
}
.mobileHide { display: inline; }
@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px){
    .mobileHide { display: none;}
}

